<div class="panel panel-default">
	<div class="panel-heading">
	Informations générales
	</div>
	<div class="panel-body">
		
		<div class="row">
			<div class="col-xs-6 legend">Model</div>
			<div class="col-xs-6 value">{{general.model}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6 legend">Version</div>
			<div class="col-xs-6 value">{{general.version}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6 legend">Utilisateur</div>
			<div class="col-xs-6 value">{{general.utilisateur}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6 legend">Mode</div>
			<div class="col-xs-6 value">{{general.mode}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6 legend">Uptine</div>
			<div class="col-xs-6 value">{{uptime general.uptime}}</div>
		</div>
	</div>
</div>
